* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  margin: 20px 0 25px 0;
}

h2 {
  font-size: 28px;
  margin: 15px 0 20px 0;
}

h3 {
  font-size: 22px;
  margin: 12px 0 18px 0;
}

h4 {
  font-size: 20px;
  margin: 10px 0 15px 0;
}

h5 {
  font-size: 18px;
  margin: 5px 0 10px 0;
}

h6 {
  font-size: 16px;
  margin: 5px 0 5px 0;
}